* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
footer p {
  margin: 0 auto;
}
.container .header {
  margin-bottom: 0px;
  position: relative;
}
.container .header img {
  width: 84.1%;
  height: 60vh;
  margin: 0 auto;
  position: absolute;
}
.container .header .header-text {
  padding: 1% 0 85% 57%;
  position: relative;
  color: #5A4E4E;
}
.container .header .header-text h1 {
  font-size: 3rem;
  width: 55%;
}
.container .header .header-text p {
  width: 55%;
  font-size: 1.5rem;
}
.container .about-us {
  background: #FFB90F;
  border: 2px solid red;
}
.container .about-us .button-class {
  display: flex;
  justify-content: flex-end;
}
.container .about-us .button-class .sign-up {
  border: none;
  background-color: inherit;
  color: #16432D;
}
.container .about-us .button-class .log-in {
  border: none;
  background-color: inherit;
  color: #5A4E4E;
}
