.container{
    
    .header{
        margin-bottom: 0px;
        position: relative;
        img {
            width: 84.1%;
            height: 60vh;
            margin: 0 auto;
            position: absolute;
        }
        .header-text{
            padding: 1% 0 85% 57%;
            position: relative;
            color: #5A4E4E;
            h1 {
                font-size: 3rem;
                width: 55%;
            }
            p {
                width: 55%;
                font-size: 1.5rem;
            }
        }
    }
    .about-us {
        background: #FFB90F;
        border: 2px solid red;

        .button-class {
            display: flex;
            justify-content: flex-end;
            .sign-up {
                border: none;
                background-color: inherit;
                color: #16432D;
            }
            .log-in {
                border: none;
                background-color: inherit;
                color: #5A4E4E;
            }    
        }
    }
}